<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277641528903-cpmrdocfpra6g2n0sqvpqe3pt4tiomj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277641528903-cpmrdocfpra6g2n0sqvpqe3pt4tiomj0</string>
	<key>API_KEY</key>
	<string>AIzaSyAoEcr-xCf_mEuW0MA1-NLhUlj9B9t3d50</string>
	<key>GCM_SENDER_ID</key>
	<string>277641528903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushUpButton</string>
	<key>PROJECT_ID</key>
	<string>push-up-button</string>
	<key>STORAGE_BUCKET</key>
	<string>push-up-button.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277641528903:ios:fb28dcb82203f46ad0d362</string>
</dict>
</plist>